*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header{
	background-color: #2c3e50;
	height: 80px;
	width: 100%;
    text-align: center;
  	font-size: 35px;
  	color: #929aa3;
  	margin: auto;
  	padding-top: 15px;
}

nav{
	background-color: #171717;	
	list-style-type: none;
	margin: 0;
  	padding-left: 15px;
  	width: 15%;
  	height: 100%; 
  	position: fixed; 
  	overflow: auto;
}

nav li{
	list-style: none;
	margin-top: 10px;
}

nav li a{
	color: #d1c0c1;
	display: block;
	padding: 10px;
	font-size: 1.0em;
	border-bottom: 1px solid #052833;
	text-decoration: none;
}

nav li a:hover{
	background-color: #030303;
	color: #ccc;
}

nav img{
	margin-top: 140px;
	margin-left: 17px;
}

#firstsection{
	margin: 5px;
	position: fixed;
	
}

#firstsection ul{
	margin-left: 34px;
}

.secondsection{
	margin: 5px;
	position: relative;
	top: 180px;

}

.thirdsection #first p{
	background-color: #d3d9e2;
	float: left;
	height: 210px;
	width: 48%;
	border-radius: 15px 50px;
	padding: 15px;
	margin: 5px;
}

.thirdsection #second p{
	background-color: #d3d9e2;
	float: right;
	height: 210px;
	width: 48%;
	border-radius: 15px 50px;
	padding: 15px;
	margin: 5px;
}

.main-content{
	height: 559px;
}

.main-content .content{
	height:100%;
	margin-left: 205px;
	width: 65%;
	float:left;
	background-color: #bfc0c1;
	padding:15px;
	position: fixed;
	overflow: auto;	
}

.main-content aside{
	width: 23%;
	float:right;
	background-color: #603e41;
	margin-left: 80%;
  	height: 100%; 
  	position: fixed; 
  	overflow: auto;
}

aside li{
	list-style-type: none;
}

aside li:hover{
	background-color: #030303;
	color: #ccc;
}

.main-content aside li a{
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 1.0em;
	border-bottom: 1px solid #052833;
	text-decoration: none;
}

aside .blinking{
	animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText{
	0%{	color: yellow;	}
	49%{	color: transparent;	}
	50%{	color: white;	}
	99%{	color: transparent;	}
	100%{	color: red;	}
}
footer{
	position: relative;
	text-align: right;
	width: 100%;
	bottom: 0;
	background-color: #2c3e50;
	height: 30px;
	position: fixed;
	padding: 6px 4px 1px 0px;
	color: #F5DEB3;
}
